@model ItemSizeEditView
@{
    ViewData["Title"] = "Item Size (" + Model.ItemName + ")";

    ViewData["ItemActive"] = "active";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<partial name="_ConfirmDelete" />
<partial name="_TickData" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">

                    <div class="form-group row d-none">
                        @Html.LabelFor(model => model.ReturnURL, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.ReturnURL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReturnURL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row d-none">
                        @Html.LabelFor(model => model.ItemID, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.ItemID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row d-none">
                        @Html.LabelFor(model => model.ItemSize.ItemSizeID, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.ItemSize.ItemSizeID, new { htmlAttributes = new { @class = "form-control", id = "txtItemSizeID" } })
                            @Html.ValidationMessageFor(model => model.ItemSize.ItemSizeID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.ItemSize.SizeName, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.ItemSize.SizeName, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", id = "txtSizeName" } })
                            @Html.ValidationMessageFor(model => model.ItemSize.SizeName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.ItemSize.PriceVariation, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.ItemSize.PriceVariation, new { htmlAttributes = new { @class = "form-control", id = "txtPriceVariation" } })
                            @Html.ValidationMessageFor(model => model.ItemSize.PriceVariation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                   

                    <div class="form-group row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button type="submit" id="btnSave" class="btn btn-primary mr-2">Add</button>
                            &nbsp;
                            <a href="@Model.ReturnURL">Go Back</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-striped">
                            <thead>
                                <tr>
                                    <th class="d-none">@Html.DisplayNameFor(model => model.ItemSizeList.First().ItemSizeID)</th>
                                    <th>@Html.DisplayNameFor(model => model.ItemSizeList.First().ItemID)</th>
                                    <th>@Html.DisplayNameFor(model => model.ItemSizeList.First().SizeName)</th>
                                    <th>@Html.DisplayNameFor(model => model.ItemSizeList.First().PriceVariation)</th>
                                    
                                    <th style="width:70px;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @foreach (var item in Model.ItemSizeList)
                                {
                                    <tr id="row_@item.ItemSizeID">
                                        <td class="d-none">@Html.DisplayFor(modelItem => item.ItemSizeID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ItemID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SizeName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PriceVariation)</td>
                                        
                                        <td>
                                            <a href="javascript:void(0);" onclick="EditRecord (
                                                '@item.ItemSizeID',
                                                '@item.SizeName',
                                                '@item.PriceVariation'
                                               
                                            )" class="table-icon text-primary"><i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="javascript:void(0);" onclick="ConfirmDelete('@item.ItemSizeID','@Url.Action("Delete")')" class="table-icon text-danger"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        function EditRecord
            (
                ItemSizeID,
                SizeName,
                PriceVariation
               
        ) {
           
            $("#txtItemSizeID").val(ItemSizeID);
            $("#txtSizeName").val(SizeName);
            $("#txtPriceVariation").val(PriceVariation);
            $("#btnSave").html("Update");

            $("#PriceVariation").focus();

        }
   

   

    </script>

}



