@model IEnumerable<Brand>

@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-centered table-nowrap table-striped">
        <thead>
            <tr>
                <th class="d-none">@Html.DisplayNameFor(model => model.First().BrandID)</th>
                <th>@Html.DisplayNameFor(model => model.First().BrandName)</th>
            </tr>
        </thead>
        <tbody id="tblSelectBody">
            @foreach (var item in Model)
            {
            <tr id="row_@item.BrandID">
                <td class="d-none">@Html.DisplayFor(modelItem => item.BrandID)</td>
                <td>
                    <a href="javascript:void(0);" onclick="BrandSelected('@item.BrandID','@(item.BrandName)')" class="text-dark font-weight-semibold">
                        @Html.DisplayFor(modelItem => item.BrandName)
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>



