@model IEnumerable<CustomerGroup>

@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-centered table-nowrap table-striped">
        <thead>
            <tr>
                <th class="d-none">@Html.DisplayNameFor(model => model.First().CustomerGroupID)</th>
                <th>@Html.DisplayNameFor(model => model.First().CustomerGroupName)</th>
                <th></th>
                <th style="width:70px;">Action</th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @foreach (var item in Model)
            {
            <tr id="row_@item.CustomerGroupID">
                <td class="d-none">@Html.DisplayFor(modelItem => item.CustomerGroupID)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerGroupName)</td>
                <td></td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.CustomerGroupID })" class="table-icon text-primary"><i class="mdi mdi-square-edit-outline"></i></a>
                    <a href="javascript:void(0);" onclick="ConfirmDelete('@item.CustomerGroupID','@Url.Action("Delete")')" class="table-icon text-danger"> <i class="mdi mdi-delete"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>



