@model IEnumerable<Item>

@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table table-centered table-nowrap table-striped">
        <thead>
            <tr>
                <th class="d-none">@Html.DisplayNameFor(model => model.First().ItemID)</th>
                <th>@Html.DisplayNameFor(model => model.First().ItemDisplay)</th>
                <th>@Html.DisplayNameFor(model => model.First().CategoryDisplay)</th>
                <th>@Html.DisplayNameFor(model => model.First().RetailDisplay)</th>
                <th>@Html.DisplayNameFor(model => model.First().WholesaleDisplay)</th>
                <th>@Html.DisplayNameFor(model => model.First().CostDisplay)</th>
                <th>@Html.DisplayNameFor(model => model.First().StockAvailableText)</th>
                <th>@Html.DisplayNameFor(model => model.First().ActiveStatusText)</th>
                <th style="width:70px;">Action</th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @foreach (var item in Model)
            {
                <tr id="row_@item.ItemID">
                    <td class="d-none">@Html.DisplayFor(modelItem => item.ItemID)</td>
                    <td title="@item.ItemDisplay">@item.ItemDisplay.ToShort(36)</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoryDisplay)</td>
                    <td>@Html.DisplayFor(modelItem => item.RetailDisplay)</td>
                    <td>@Html.DisplayFor(modelItem => item.WholesaleDisplay)</td>
                    <td>@Html.DisplayFor(modelItem => item.CostDisplay)</td>
                    <td><span class="badge badge-@item.StockAvailableClass">@item.StockAvailableText</span></td>
                    <td><span class="badge badge-@item.ActiveStatusClass">@item.ActiveStatusText</span></td>
                    <td class="row-btn d-none">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-primary" href="@Url.Action("Edit", new { id = item.ItemID })">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Edit","Ingredients", new { id = item.ItemID })">Ingredients...</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="javascript:void(0);" onclick="ConfirmDelete('@item.ItemID','@Url.Action("Delete")')">Delete</a>
                            </div>
                        </div>
                    </td>

                    <td class="row-btn">
                        <div class="btn-group dropup">
                            <button type="button" onclick="location.href='@Url.Action("Edit", new { id = item.ItemID })';" class="btn btn-secondary">
                               Edit
                            </button>
                            <button type="button" class="btn  btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Edit","Ingredients", new { id = item.ItemID })">Ingredients and Making...</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="javascript:void(0);" onclick="ConfirmDelete('@item.ItemID','@Url.Action("Delete")')">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 </div>


